# {{ ansible_managed }}

[program:snowplow_enrich]
command={{ snowplow_folder }}/enrich.sh
redirect_stderr=true
stdout_logfile={{ snowplow_log_folder }}/enrich.log
autostart=true
autorestart=true
stopasgroup=true
user=root
directory={{ snowplow_folder }}
