# {{ ansible_managed }}

[program:snowplow_s3sink]
command={{ snowplow_folder }}/s3sink.sh
redirect_stderr=true
stdout_logfile={{ snowplow_log_folder }}/s3sink.log
autostart=true
autorestart=true
stopasgroup=true
user=root
directory={{ snowplow_folder }}
